.a {
    text-align: center;
    border: 5px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dashed;
    border-right-style: dashed;
    border-top-color: green;
    border-left-color: blue;
    border-right-color: orange;
    border-bottom-color: red;
    padding: 5px;
    max-width: 750px;
}
.b {
    text-align: center;
    border: 5px;
    border-style: groove;
    border-top-color: aqua;
    border-left-color: black;
    border-right-color: black;
    border-bottom-color: pink;
    padding: 5px;
    max-width: 750px;
}

.c {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    max-width: 750px;
}
p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: sans-serif;
}